<header class="p-1 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a th:href="@{/}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img th:src="@{img/logo.png}" alt="Logo">
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a th:href="@{/exchange}" class="nav-link px-2 text-white">환율</a></li>
                <li><a th:href="@{/stockCoin}" class="nav-link px-2 text-white">주식 / 코인</a></li>
            </ul>
            <div class="text-end">
                <a sec:authorize="isAnonymous()" th:href="@{/login}" class="btn btn-outline-light me-2">Login</a>
                <a sec:authorize="isAnonymous()" th:href="@{/signup}" class="btn btn-warning">Sign-up</a>
                <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="btn btn-outline-light me-2">Logout</a>
            </div>
        </div>
    </div>
</header>